body {
    overflow: hidden
}

#btnConfirmar {
    background-color: #7320e7;
    color: #dedee7;
}

#btnConfirmar:hover {
    background-color: #3c0686;
    color: #dcdce0;
}

.anchorType:hover {
    text-decoration: underline
}

.loginText {
    margin-bottom: 30px;
}

.divLoginHeight {
    height: 500px;
    width: 500px;
}

.novaConta {
    background-color: #100b0b;
    border-radius: 20px;
    padding: 10vh 6vh 10vh 6vh;
    background-image: url('https://www.transparenttextures.com/patterns/dark-wood.png');
}

body {
    background-image: url('https://wallpapercave.com/wp/wp12696363.jpg');
    background-size: cover;
    /* Preenche toda a tela, mantendo proporção */
    background-repeat: no-repeat;
    /* Não repete */
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    /* escurece levemente a imagem */
    z-index: -1;
    backdrop-filter: blur(4px);
}

.eyeIcon {
    color: #8c54db;
}