body{
    overflow:hidden
}
#btnConfirmar{
    background-color: #7320e7;
    color: #dedee7;
}
#btnConfirmar:hover{
    background-color: #3c0686;
    color: #dcdce0;
}

.anchorType:hover {
    text-decoration: underline
}

.loginText {
    margin-bottom: 30px;
}

.divLoginHeight {
    height: 500px;
    width: 500px;
}

.novaConta {
    width: 55vh;
    height: 60vh;
    background-color: #100b0b;
    border-radius: 20px;
    padding: 5vh;
    background-image: url('https://www.transparenttextures.com/patterns/dark-wood.png');
}

.eyeIcon{
    color: #8c54db;
}


