
/* 2) carrossel */
.panel-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    /* rolagem aqui */
    padding-bottom: 1.5em;
    /* afasta a barra dos cards */
    scrollbar-gutter: stable;
    /* reserva espaço p/ a barra */
    -webkit-overflow-scrolling: touch;
    width: 100%;
}


/* 3) tema (Firefox) */
.panel-cards {
    scrollbar-width: thin;
    scrollbar-color: #7f1d1d rgba(255, 255, 255, .06);
}

/* 4) tema (Chrome/Edge/Safari) */
.panel-cards::-webkit-scrollbar {
    height: 10px;
}

.panel-cards::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #b91c1c, #7f1d1d);
    border: 2px solid #141312;
    border-radius: 12px;
}

.panel-cards::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .06);
    border-radius: 12px;
}

/* aparece só no hover */
.panel-cards:not(:hover)::-webkit-scrollbar {
    display: none;
}

.players-session {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.player-icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid #454343;
}

.player-list-icons {
    display: flex;
    flex-direction: row;
    margin-left: -0.5em;
}

.first-icon {
    margin-left: 0.5em;
}

.img-session {
    height: 10em;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
        cursor: pointer;

}

.card-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(41 37 36 / 0.8);
    border-radius: 10px;
    border: 0.1px solid #454343;
    height: 22em;
    width: 30em;
    flex: 0 0 auto;
    /* transição mais suave e lenta */
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.card-item:hover {
    border-color: rgba(185, 28, 28, 0.9);
}

.card-description {
    padding: 1em;
}

.caption-description {
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.imgZoom {
    width: 100%;
    height: 100%;
    cursor: pointer;
}