/* Importando estilos externos */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=MedievalSharp&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #110e0d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ESTILIZAÇÃOI DO SWAl */
.swal2-popup {
    background-color: #110e0d;

}

.swal2-title {
    color: rgba(185, 28, 28, 0.9);
}

.swal2-html-container {
    color: #e6e2ec;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.layout {
    display: flex;
    min-height: 100vh;
}

/* 
ESTILIZAÇÃO CONTENT */
.overlay {
    opacity: 0.3;
}

/* ESTILIZAÇÃO DO HEADER */
.imgIcon {
    cursor: pointer;
}

.HeaderJustification {
    flex-direction: row;
    padding: 10px 60px 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.optionsHeader {
    gap: 30px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

#headerStyle {
    background-color: rgba(15, 15, 15, 0.90);
    box-shadow: 0px 0.5px 0px 0px rgb(68 64 60 / 0.5);
    background-image: url('https://www.transparenttextures.com/patterns/stone-wall.png');
    backdrop-filter: blur(3px);

}

.divIcon {
    width: 65px;
    display: flex;
    justify-content: center;
    margin-left: 9px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.imgIcon {
    height: 30px
}

.subtitle {
    font-weight: 600;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
    text-decoration: none !important;
    font-size: 18px;
}

.subtitleColor {
    color: rgba(185, 28, 28, 0.9);
}

.titleColor {
    background: linear-gradient(90deg, rgba(185, 28, 28, 0.9), rgba(185, 28, 28, 0.9), rgba(185, 28, 28, 0.9), rgba(185, 28, 28, 0.9));
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientScroll 8s linear infinite;
    font-size: 35px;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

.btnMenu {
    color: #8133ee;
    background-color: #35355a;
}

.btnMenu:hover {
    color: #e6e2ec;
    background-color: #6A00FF;
}

.loginTitleColor {
    color: rgba(185, 28, 28, 0.9);
    font-size: 55px;

}



#content {
    width: 100%;
    margin-left: 15%;
    /* desloca o conteúdo */
    transition: margin-left 0.1s ease-in-out;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: visible;
}

/* Animação para mover o gradiente */
@keyframes gradientScroll {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.iconMenu {
    font-size: 14px;
}

.fontApplied {
    font-family: "Almendra SC", serif;
}

.menuTitle {
    background: linear-gradient(90deg,
            rgba(120, 0, 0, 0.9),
            rgba(185, 28, 28, 0.95),
            rgba(220, 38, 38, 0.9));
    background-size: 300% auto;
    /* Amplia o gradiente */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientScroll 8s linear infinite;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

/* ESTILIZAÇÃO ITENS UNICOS */
.anchorType {
    cursor: pointer;
}

.anchorType:hover {
    color: rgba(185, 28, 28, 0.9);
}

.sizeTextNormal {
    font-size: 50px;
}


/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

/* LOADER */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171724;
    transition: opacity 0.75s ease, visibility 0.75s ease;
    z-index: 1000;
}

.loader-text {
    position: absolute;
    bottom: 265px;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;

}

.textLoader {
    color: #8b3df8;
}

#loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #6303e9;
    border-radius: 50%;
    animation: loading 1.25s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* 
INPUTS E LABELS */

.label {
    color: #812ff3;
}

.inputControl {
    background-color: #151520;
    color: #dedee7;
    border-color: #151520;
}

.inputControl:focus {
    background-color: #151520;
    color: #dedee7;
    border-color: #5c13c2;
}

.inputForm {
    background-color: #232333;
    color: #dedee7;
    border-color: #151520;
}

.inputForm:focus {
    background-color: #232333;
    color: #dedee7;
    border-color: #5c13c2;
}

.input-container {
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(75 85 99 / 0.6) solid;
    padding: .375rem .75rem;
    transition: border-color 0.3s;
}

/* Foco no container se qualquer filho tiver foco */
.input-container:focus-within {
    border-bottom: 1px rgb(239 68 68 / var(--tw-border-opacity, 1)) solid;
}

.input-container i {
    margin-right: 0.5rem;
    color: #aaa;
    font-size: 1rem;
}

.personalized-input {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #fff;
    padding: 0;
    /* tira padding extra já que está no container */
}

.personalized-select {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #fff;
    padding: 0;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}


.personalized-option {
    background-color: #110e0d;
}

.form-select:focus {
    box-shadow: none;
    background-color: none;
}


/* SCROLLLBRAR STYLES */

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    ;
}

::-webkit-scrollbar {
    width: 9px;
    background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
}


/* BUTTONS */

.button-default-red {
    background-color: rgba(185, 28, 28, 0.9);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
    font-weight: 600;
    text-decoration: none !important;
    font-size: 18px;

}

.button-default-red:hover {
    background-color: rgba(228, 14, 14, 0.9);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.button-default-red-lg {
    background-color: rgba(185, 28, 28, 0.9);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
    font-weight: 600;
    text-decoration: none !important;
    font-size: 18px;
    width: 15em;
}

.button-default-red-lg:hover {
    background-color: rgba(228, 14, 14, 0.9);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.button-pattern-grey {
    background-color: rgb(68 64 60 / 0.8);
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    font-weight: 600;
    text-decoration: none !important;
    font-size: 18px;
}

.button-pattern-grey-lg {
    background-color: rgb(68 64 60 / 0.8);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
    font-weight: 600;
    text-decoration: none !important;
    font-size: 18px;
    width: 15em;
}

.button-pattern-grey:hover {
    background-color: rgba(54, 54, 54, 0.9);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.button-pattern-grey-lg:hover {
    background-color: rgba(54, 54, 54, 0.9);
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

/* BORDAS */
.border-portlet {
    border: 0.1px solid #35355a;
    border-radius: 10px;
    margin: 0px 50px 0px 50px;
}

.border-portlet-padding {
    border: 0.1px solid #35355a;
    border-radius: 10px;
    padding: 40px;
    margin: 0px 50px 0px 50px;
}



/* MODAL STYLES */

.modal-content {
    border: 0.1px solid #454343;
    background-color: #110e0d;
}

.modal-footer {
    border: 0.1px solid #454343;
    background-color: #110e0d;
}

.modal-body {
    border: 0.1px solid #454343;
    background-color: #110e0d;
}


/* TEXTO */

.text-pattern {
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.white-title {
    color: #fff;
}

.sessionTitle {
    background-color: rgba(185, 28, 28, 0.9);
    background-size: 300% auto;
    /* Amplia o gradiente */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientScroll 8s linear infinite;
    margin-right: 15px;
    font-size: 45px;
    font-weight: bold;
}





/* ESTILIZAÇÕES DO SELECT2 */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    outline: 0 !important;
    background-color: transparent !important;
    border: none !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: text !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
    position: relative !important;
}
.select2-selection__choice{
    padding: 0px;
    margin: 0px;
}
.form-group{
    margin-bottom: 20px;
}